# Rapport

**Nombre de lignes et de colonnes**:

    - Trainset: 24105 lignes et 5 colonnes
    - Testset: 10331 lignes et 5 colonnes

**Nombre de données manquantes**:

    - Trainset: 2 lignes comportent des données manquantes
    - Testset: 1 lignes comporte des données manquantes.
    - Décision : Etant donnée que très très peu de lignes de nos datasets sont NaN je décide de les drop.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_train = pd.read_csv('avisassurance_train.csv', sep=";")
data_test = pd.read_csv('avisassurance_test.csv', sep=";")

In [17]:
df = data_train.copy()
df_test = data_test.copy()

In [4]:
df.head()

,date,note,auteur,avis,assureur,produit
0,06 septem...,5,brahim--k-131532,"Meilleurs assurances, prix, solutions, écoute,...",Direct Assurance,auto
1,03 mai 20...,4,bernard-g-112497,"je suis globalement satisfait , sauf que vous ...",Direct Assurance,auto
2,21 mars 2...,5,virginie-t-107352,Prix tres abordable plusieurs options s'offren...,Direct Assurance,auto
3,10 juin 2...,4,boulain-f-116580,"je satisfait du service, une réponse très rapi...",L'olivier Assurance,auto
4,29 janvie...,1,ouaille31-51798,"Client depuis plus de 25 ans, très déçu de cet...",Matmut,auto

In [10]:
df.isna().sum()

date        0
note        0
auteur      1
avis        1
assureur    0
produit     0
dtype: int64

In [13]:
df.shape

(24105, 6)

In [14]:
df.dropna(axis=0).shape

(24103, 6)

In [15]:
def prepross(df):
    df = df.dropna(axis=0)
    return df

In [18]:
df_test.shape

(10332, 5)

In [19]:
df_test.dropna(axis=0).shape

(10331, 5)